body {
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    border-radius: 6px;
    background: #E55473;
    border: 0;
    padding: 20px 42px;
    gap: 10px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
}

.head {
    background-color: #E554731A;
    width: 1920px;
}

.banner {
    display: flex;
    align-items: center;
    background-position: bottom right;
    background-repeat: no-repeat;
    padding: 50px 50px 0 200px;
    justify-content: space-around;
}

.banner-profile picture {
    width: 630px;
}

.banner.title {
    width: 700px;
    flex-direction: column;
    font-size: 80px;
    color: #272727;
    font-weight: 800px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.banner-description {
    width: 700px;
    flex-direction: column;
}

.feature {
    width: 1700px;
}

.section-title {
    text-align: center;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.section-description {
    display: flex;
    flex-direction: column;
    color: #27272799;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.feature-info-container {
    display: flex;
    justify-content: space-around;
}

.feature-info {
    text-align: center;
    gap: 30px;
}

#pink {
    width: 280px;
    height: 380px;
    padding: 108px 75px 0px 75px;
    height: 363px;
    background-color: #A7216226;
    border-radius: 300px 300px 0px 0px;
    box-shadow: 5px 5px;
}

#red {
    width: 330px;
    height: 300px;
    padding: 120px 50px 50px 50px;
    height: 450;
    background-color: #0597A026;
    border-radius: 300px 300px 0px 0px;
    box-shadow: 5px 5px;
}

#yellow {
    width: 250px;
    height: 380px;
    background-color: #477D1126;
    border-radius: 300px 300px 0px 0px;
    width: 300px;
    height: 400px;
    padding: 70px 75px 0 75px;
    box-shadow: 5px 5px;
}

.hot-deal {
    background-color: #E554730D;
    margin-top: 100px;
}

.hot {
    display: flex;
    align-items: center;
    background-position: bottom right, top left;
    padding: 100px 430px 100px 430px;
}

.hot-deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.text-primary {
    color: #E55473;
}

.hot-deal-description {
    flex-direction: column;
    color: #27272799;
    font-size: 18px;
}

.btn-primary {
    padding: 20px 43px;
    gap: 10px;
}

.hot-profile-pic {
    margin-left: 150px;
}

.insta-title {
    text-align: center;
    color: #272727;
    font-size: 40px;
}

.insta-description {
    text-align: center;
    flex-direction: column;
    color: #27272799;
    font-size: 18px;

}

.insta-part {
    display: flex;
    justify-content: space-between;
    padding: 50px 50px 130px 50px;
    row-gap: 25px;

}

.header-item {
    align-items: center;
    background-image: url('../flower-shop-assignment-main/Rectangle\ 9.png');
    height: 450px;
    margin-left: 240px;
    margin-right: 260px;


}

.header {
    height: 300px;

}

.header-btn-info {
    text-align: center;


}

.email-info {

    width: 650px;
    height: 60px;
}

.header-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
}

.header-description {
    text-align: center;
}

.flower {
    align-items: center;
    background-color: #111010;
    width: 1800px;
    height: 300px;
    margin-top: 130px;
    padding: 130px 625px 130px 625px;
}

.flower-title {
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
}

.flower-description {
    flex-direction: column;
    color: #FFFFFFE5;
    font-size: 18px;
}

.flower-footer {
    color: #FFFFFF66;
    font-size: 16px;
}

.shp-btn {
    color: #FFFFFF;
}

.bonus-section {
    padding: 50px 200px 50px 200px;
}

.bonus {
    height: 500px;
    background-color: #2727270D;

}

.bn-btn {
    background-color: #E55473;
    color: #FFFFFF;
}

.fl-btn {
    color: #E55473;
}